.stopwatch-container {
    text-align: center;
}

.button {
    border: 0px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem;
    border-radius: 0.4rem;
    background-image: linear-gradient(to right, #61dafb, #088be8);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.timer-container {
    display: flex;
    justify-content: center;
}

.time{
    margin:0;
    margin: 1rem;
    margin-bottom:3rem;
    padding: 0.5rem;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.757);
    font-weight: bolder;
    border-bottom: 5px solid rgba(255, 255, 255, 0.757);
}