.App-logo {
  height: 3rem;
margin-left: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  padding: 3rem;
  display: flex;
  align-items: center;
  font-size:3rem;
  font-weight: 1000;
  color: #61dafb;
}

.App-span {
  font-weight: 300;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}